<html>

<head>
    <title>Personal Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .btn-primary {
            background-color: orangered !important;
        }

        .nav-item a:hover {
            color: orangered;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse mx-4" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/">
                            <img src="/assets/img/brandred.png" alt="Bootstrap" width="42" height="36">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand fs-4 fw-bold" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand fs-4" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand fs-4" href="/testimonial">Testimonial</a>
                    </li>
                </ul>

                {{#if isLogin}}
                <h4 class="mb-lg-0 pe-3">Welcome back, {{user.name}}</h4>
                {{else }}
                <a class="navbar-brand ms-2" href="/register">Register</a>
                <a class="navbar-brand ms-2" href="/login">Login</a>
                {{/if}}
                <a class="btn btn-primary rounded border-0 ms-2" href="/contact" role="button">Contact Me</a>
            </div>
        </div>
    </nav>

    {{#if messages.success}}
    <div class="alert alert-success" role="alert">
        <div class="container">
            {{messages.success}}
        </div>
    </div>
    {{/if}}

    <div class="card-home">
        <ul class="card-home-ul">
            <li>
                <div class="card-content">

                    <h1>Hi welcome to My Personal Web</h1>
                    <p style="text-align: justify; width: 500px;">Hello! nama saya Rezha Akbar Pradana biasa di panggil
                        Rezha. umur saya 22 tahun. saya merupakan lulusan
                        SMA jurusan IPA. saat ini saya sedang mengikuti bootcamp dumbways kelas Fullstack Developer.
                        sejak saya kecil
                        saya memiliki mimpi untuk jadi programer yang hebat</p>
                    <br>

                    <div class="card-home-contact">
                        <a href="/contact" class="btn-contact">Contact</a>
                        <a href="https://drive.google.com/file/d/1PflNdL4ziluP1WH4rvCCHZzUHBNS1ZKo/view?usp=sharing"
                            style="text-decoration: none; color: black; font-size:16px;">Download CV</a>
                        <i class="fa-solid fa-download fa-lg"></i>
                    </div><br><br>

                    <div class="media-btn" style="display: flex;">
                        <a href="#" class="link">
                            <i class="fa-brands fa-linkedin-in fa-lg"></i>
                        </a>
                        <a href="#" class="link">
                            <i class="fa-brands fa-instagram fa-lg"></i>
                        </a>
                        <a href="#" class="link">
                            <i class="fa-brands fa-facebook-f fa-lg"></i>
                        </a>
                        <a href="#" class="link">
                            <i class="fa-brands fa-twitter fa-lg"></i>
                        </a>
                    </div>
            </li>
            <li>
                <div class="img-content">
                    <img style="width: 100%; border-radius:  20px; margin-bottom: 10px;"
                        src="/assets/img/my personal.jpg" alt="foto">
                    <h2 style="text-align: center;">Rezha Akbar Pradana</h2>
                    <p style="text-align: center; padding-bottom: 20px;">Fullstack Developer</p>
                </div>
            </li>
    </div>
    </ul>
    </div>

    <div class="container ">
        <div id="contents" class="d-flex flex-wrap w-100 gap-4">
            {{#each data}}
            <div class="card shadow p-2 mb-5 bg-body-tertiary rounded border-0  " style="width: 17rem;">
                <img src="/uploads/{{this.image}}" class="card-img-top object-fit-cover h-100" alt="image">
                <div class="my-3">
                    <h6 class="card-title">
                        <a href="/blog-detail/{{this.id}}">{{this.title}}</a>
                    </h6>
                    <p class="card-text"><small class="text-body-secondary">Date : {{this.startDate}} s/d
                            {{this.endDate}} </small></p>
                </div>

                <p>
                    Author : {{this.name}}
                </p>

                <div class="mb-3">
                    <p class="card-text">{{this.content}}</p>
                </div>
                {{!-- <div class="mb-3 " style="width: 30px; height: 30px; padding-right: 10px;">
                    <p class="card-text"> ICON Technologies</p>
                </div> --}}
                <div class="col-md-12 d-flex gap-3 justify-content-center">
                    <a href="/update-blog/{{this.id}}" class="btn btn-secondary">Edit post</a>
                    <form method="post" action="/delete-blog/{{this.id}}">
                        <button class="btn btn-primary">Delete post</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- script -->
    {{!--
    <script src="/assets/js/nav.js"></script> --}}
</body>

</html>